﻿@model MailChimp.Net.Models.List
@{
    ViewBag.Title = "Detail";
}

<h2>view List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created On</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.DateCreated</td>
        </tr>
    </tbody>
</table>

