﻿@model IEnumerable<MailChimp.Net.Models.Member>
@{
    ViewBag.Title = "Index";
}

<h2>Members for list @ViewBag.ListId</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.EmailAddress</td>
            <td>@item.MergeFields["FNAME"]</td>
            <td>@item.MergeFields["LNAME"]</td>
            <td>@item.Status</td>
        </tr>
        }
    </tbody>
</table>
